.table{
	display: table;
	width:auto;
	border:1px solid black;
	background-color: #DCDCDC;
	margin-top:80px;
	margin-left: 300px;

}
.table-row{
	display:table-row;
	width:auto;
	
}
.table-col{
	display: table-cell;
	float: left;
	border:1px solid black;
	width: 200px;
	
	padding: 10px;
}